/* General Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    background-color: white;
}

/* Navbar */

.navbar {
    background: #0056b3;
    color: white;
    padding: 15px;
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
}

.nav-container {
    display: flex;
    justify-content: space-between;
    width: 90%;
    max-width: 1200px;
}

.logout-button {
    background: white;
    color: #0056b3;
    padding: 8px 12px;
    border-radius: 5px;
    text-decoration: none;
}

.logout-button:hover {
    background: hsl(0, 0%, 93%);
}

/* Back Button */
.back-button {
    font-size: 24px;
    padding: 15px;
    margin-left: 20px;
    color: #99ad70;
    cursor: pointer;
}

/* Content */
.content {
    width: 90%;
    max-width: 800px;
    margin: auto;
}

h2 {
    font-size: 24px;
    margin: 15px 0;
}

/* List Items */
.list {
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.list-item {
    display: block; /* Makes the links behave like divs */
    text-decoration: none; /* Removes underline */
    color: black; /* Changes text color to black */
    background: #f8fbe8; /* Light background color */
    padding: 15px;
    margin: 10px 0;
    border-radius: 5px;
    /* font-weight: bold; */
}

.list-item:hover {
    background: #e0e7c0; /* Slightly darker background on hover */
}

.content-card {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.card {
    display: flex;
    justify-content: space-between;
    align-items: center;

    a {
        background: #f8fbe8;
        display: block;
        text-decoration: none;
        color: black;
        padding: 8px;
        margin: 5px;
        border-radius: 5px;
    }

    a:hover {
        background: #e0e7c0;
    }
}
