/* General Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    background-color: #f4f4f4;
}

/* Navbar */
.navbar {
    background: #0056b3;
    color: white;
    padding: 15px;
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
}

.nav-container {
    display: flex;
    justify-content: space-between;
    width: 90%;
    max-width: 1200px;
}

.logout-button {
    background: white;
    color: #0056b3;
    padding: 8px 12px;
    border-radius: 5px;
    text-decoration: none;
}

.logout-button:hover {
    background: hsl(0, 0%, 93%);
    transition: 0.25s ease-in-out;
}

/* Total APERD Section */
.total-aperd {
    background: #ffffff;
    padding: 15px;
    margin: 20px auto;
    width: 90%;
    max-width: 1200px;
    border-radius: 8px;
    /* display: flex;
    justify-content: space-between;
    align-items: center; */
}
.edit-button {
    background: white;
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
}

/* Table */
.aperd-table {
    width: 90%;
    max-width: 1200px;
    margin: 20px auto;
    border-collapse: collapse;
    background: white;
}
.aperd-table td {
    border: 1px solid #ddd;
    padding: 10px;

    a {
        color: black;
        text-decoration: none;
        font-style: italic;
    }
}

/* Summary Cards */
.summary {
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
    margin: 0 50px;
}

.card {
    background: #ffffff;
    padding: 20px;
    margin: 20px auto;
    border-radius: 5px;
    flex: 1;
    text-align: center;
    min-width: 150px;
}

/* Chart Section */
.chart {
    background: white;
    padding: 20px;
    margin: 20px auto;
    height: 200px;
    width: 90%;
    max-width: 1200px;
    border-radius: 5px;
}

.login-page {
    background: #c8e6c9;
    justify-content: space-around;
    align-items: center;
    margin: 50px;
    padding: 20px;
    border-radius: 3%;
    box-shadow: 7px 7px 0px 0px #a2c0a38e;
}